.section-content-wrapper.contact
	display: table
	width: 100%
	height: 100%

.section-content.contact
	display: table-cell
	vertical-align: middle

	ul
		text-align: center

	a
		+font-size(42px)
		max-width: 600px
		margin: 0 auto 15px auto
		color: #000
		font-weight: 300
		display: inline-block

		&:after
			margin: 0 auto
			display: block
			width: 0
			height: 3px
			content: ""
			background: #000
			+transition(width 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86))

		&:hover
			&:after
				width: 100%