.header {
    position: fixed;
    width: 100%;
    top: 50px;
    z-index: 499;
    color: #fff;

    @include transition(color 0.5s ease-out);

    &.inverted {
        color: #000;
    }
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2100px;
    margin: 0 auto;
}

.logo {
    z-index: 299;
    opacity: 0;
    font-family: "Playfair Display", Georgia, sans-serif;
    margin-left: 100px;
    @include font-size(46px);

    @media only screen and (max-width: $break-mobile-landscape) {
        margin: 32px 10px 0 0;
        display: inline-block;
        width: auto;
        float: right;
        text-align: right;
        @include font-size(18px);
    }
}

.years-of-memories {
    z-index: 299;
    font-weight: 400;
    font-style: italic;
    opacity: 0;
    font-family: "Lato", Arial, sans-serif;
    display: block;
    margin-top: 2px;
    @include font-size(20px);

    @media only screen and (max-width: $break-mobile-landscape) {
        display: none;
    }
}

#grid-toggle {
    margin-right: 100px;
    @include font-size(20px);
    border: 2px solid #fff;
    padding: 8px 12px;
}