.app-slider,
.app-slider-image
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	overflow: hidden

.app-slider-image
	-webkit-backface-visibility: hidden

	&.current
		z-index: 44

	img
		position: absolute
		top: 0
		width: 100%
		height: auto


.app-slider-action
	position: absolute
	top: 50%
	margin-top: -20px
	background: transparent url(../static/img/slider_action_arrow.svg) no-repeat top left
	width: 23px
	height: 41px
	text-indent: -9999px
	left: 30px
	z-index: 99

	+transition(opacity 0.3s ease-in-out)

	&.hidden
		opacity: 0
		pointer-events: none

	&.next
		left: auto
		right: 30px
		+transform(rotate(180deg))