$button-size: 3rem;
$transition: 0.2s;
$color: white;
$color_inverted: black;

@mixin line {
    display: inline-block;
    width: $button-size;
    height: $button-size / 10;
    background: $color;
    border-radius: $button-size / 14;

    @media only screen and (max-width: $break-mobile-landscape) {
        width: $button-size / 1.4;
        height: $button-size / 14;
    }
}

#grid-toggle {
    position: absolute;
    top: 55px;
    left: 100px;
    z-index: 699;
    cursor: pointer;
    background: red;
    padding: 15px;
}

#nav-toggle {
    position: absolute;
    top: 55px;
    left: 40px;
    z-index: 699;
    display: inline-block;
    transition: 0.3s;
    cursor: pointer;
    height: 30px;
    opacity: 0;

    @media only screen and (max-width: $break-mobile-landscape) {
        top: 34px;
        left: 15px;
    }

    &.close {
        span {
            @include transition(background $transition 0s ease);
            background: transparent;

            &:before, &:after {
                @include transition(top $transition ease, transform $transition 0.4s ease, background 2s ease);
                top: 0;
                width: $button-size;
                @media only screen and (max-width: $break-mobile-landscape) {
                    width: $button-size / 1.4;
                }
            }

            &:before {
                @include transform(rotate3d(0, 0, 1, 45deg));
            }

            &:after {
                @include transform(rotate3d(0, 0, 1, -45deg));
            }
        }

        &.inverted {
            span {
                &:before,
                &:after {
                    background: $color_inverted;
                }
            }
        }
    }
    span {
        @include line;
        position: relative;
        @include transition(background $transition 0.5s ease);

        &:before, &:after {
            @include line;
            position: absolute;
            left: 0;
            content: "";
            transform-origin: 50% 50%;
            @include transition(top $transition 0.5s ease, transform $transition ease);
        }

        &:before {
            top: $button-size / 4;
        }

        &:after {
            top: -$button-size / 4;
        }
    }
}

#nav-close {
    position: absolute;
    cursor: pointer;
    top: 50px;
    left: 25px;
    border-width: 14px;
    border-style: solid;
    border-radius: 100%;
    color: white;
    width: 12px;
    height: 12px;
    margin: auto;
    text-indent: -9999px;
    @include transition(transform 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86));
}

#nav-close:hover {
    @include transform(scale(1.2));
}

.arrow-t-b:after,
.arrow-t-b:before,
.arrow-l-r:after,
.arrow-l-r:before {
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    content: "";
    left: 2px;
    top: 0px;
    position: absolute;
}

.arrow-t-b:after {
    border-top-color: inherit;
}

.arrow-l-r:after {
    border-right-color: inherit;
    left: 4px;
    top: 2px;
}

.arrow-t-b:before {
    border-bottom-color: inherit;
    bottom: 0;
}

.arrow-l-r:before {
    border-left-color: inherit;
    left: 0;
    top: 2px;
}

nav[role="navigation"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 499;
    background: rgba(0, 0, 0, 0.8);
    display: table;
    opacity: 1;
    @include transition(opacity 0.3s ease-out);

    &.hidden {
        display: none;
    }

    &.visuallyhidden {
        opacity: 0;
        pointer-events: none;
    }

    ul {
        width: 100%;
        height: 100%;
        padding: 0;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

    li {
        margin: 0 0 20px 0;
        &:last-of-type {
            margin: 0;
        }
    }

    a {
        @include font-size(40px);
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 0.15em;
        display: inline-block;

        @media only screen and (max-width: $break-mobile-landscape) {
            @include font-size(32px);
            font-weight: 300;
        }

        &:after {
            margin: 0 auto;
            display: block;
            width: 0;
            height: 3px;
            content: "";
            background: white;
            @include transition(width 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86));
        }

        &:hover {
            &:after {
                width: 100%;
            }
        }
    }
}
