.nav {
    margin-left: auto;
    margin-right: 100px;
}

.nav_item {
    display: inline-block;
    margin-right: 10px;
}

.nav_item__link {
    font-weight: 400;
    font-style: italic;
    display: inline-block;
    @include font-size(18px);

    @media only screen and (max-width: $break-mobile-landscape) {
        @include font-size(32px);
        font-weight: 300;
    }

    &:after {
        margin: 0 auto -3px;
        display: block;
        width: 0;
        height: 3px;
        content: "";
        background: white;
        @include transition(width 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86));
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
}
